{% extends '../base.html' %}
{% load static %}


{% block title %}Feedback{% endblock title %}

{% block body %}
<!-- MAIN BEGIN -->
<main class="main">
    <div class="pizza">
        <img src="{% static 'img/feedback/pizza.png' %}" alt="">
    </div>
    <div class="noodles">
        <img src="{% static 'img/feedback/ramen.png' %}" alt="">
    </div>
    <div class="cake">
        <img src="{% static 'img/feedback/cake-copy.png' %}" alt="">
    </div>
    <div class="spoons">
        <img src="{% static 'img/feedback/fork-knife-spoon-copy.png' %}" alt="">
    </div>
    <div class="inner-container">
      <h3 class="upper-text">Tell us ...</h3>
      <div class="lower-elements">
        <div class="leftside-elements">
          <p>Help us help you!</p>
          <div class="thumbs-up">
            <img src="{% static 'img/feedback/feedback-thumbs-up.png' %}" />
          </div>
        </div>
        <div class="rightside-elements">

          <!-- FORM BEGIN -->
          <form class="form" action="">
            <div>
              <p class="feedback-txt">Feedback type</p>
              <input type="radio" id="choice1" name="feedback-type" required />
              <label for="choice1">In-house services</label>
              <input type="radio" id="choice2" name="feedback-type" required />
              <label for="choice2">Catering services</label>
            </div>

            <div>
              <p>Names</p>
              <input type="text" id="names" name="names" required />
            </div>
            <div>
              <p>Email</p>
              <input type="email" id="email" name="email" required />
            </div>
            <div>
              <p>Message</p>
              <input type="text" id="message" name="message" required />
            </div>
            <div class="rightside-elements">
                <!-- FORM BEGIN -->
                <form class="form" id="FeedbackForm" method="post">
                    {% csrf_token %}
                    <div>
                        <p class="feedback-txt">Feedback type</p>
                        <input
                            type="radio"
                            id="choice1"
                            name="feedback-type"
                            required
                        >
                        <label for="choice1">In-house services</label>
                        <input
                            type="radio"
                            id="choice2"
                            name="feedback-type"
                            required
                        >
                        <label for="choice2">Catering services</label>
                    </div>
                    <div>
                        <p>Names</p>
                        <input
                            type="text"
                            id="names"
                            name="names"
                            required
                        >
                    </div>
                    <div>
                        <p>Email</p>
                        <input
                            type="email"
                            id="email"
                            name="email"
                            required
                        >
                    </div>
                    <div>
                        <p>Message</p>
                        <input
                            type="text"
                            id="message"
                            name="message"
                            required
                        >
                    </div>
                    <div class="input-buttons">
                        <button type="reset">Reset</button>
                        <button type="submit">Send</button>
                    </div>
                </form>
                <!-- FORM END -->
            <div class="reset-submit-buttons">
              <button type="reset" class="reset" >reset</button>
              <button type="submit" class="submit">submit</button>
            </div>
          </form>
          <!-- FORM END -->
          
        </div>
      </div>
    </div>
</main>
<!-- MAIN END -->
{% endblock body %}
