{% load static %}

<!--
	<link rel="stylesheet" href="{% static 'css/<folder-name>/<file-name.css>' %}" />
-->

<link rel="stylesheet" href="{% static 'css/core/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/core/feedback.css' %}" />
<link rel="stylesheet" href="{% static 'css/core/catering.css' %}" />
<link rel="stylesheet" href="{% static 'css/core/contact-us.css' %}" />
<link rel="stylesheet" href="{% static 'css/components/header.css' %}" />
<link rel="stylesheet" href="{% static 'css/components/footer.css' %}" />
